absl_py==2.1.0
allennlp==2.10.1
allennlp_models==2.10.1
datasets==2.5.1
gem_metrics==0.1.dev0
gym==0.26.2
ipdb==0.13.13
jsonlines==3.0.0
nltk==3.8.1
numpy==1.26.4
openai==1.14.1
pandas==2.2.1
py_rouge==1.1
PyYAML==6.0.1
PyYAML==6.0.1
rich==13.7.1
sacrebleu==2.4.1
setuptools==69.2.0
six==1.16.0
spacy==3.7.4
stable_baselines3==2.2.1
torch==2.2.0
tqdm==4.66.2
transformers==4.38.2
wandb==0.16.4
